<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tims_project">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TIMS_Project">
        <activity
            android:name=".PaymentRep"
            android:exported="true" />
        <activity
            android:name=".DeleteTen"
            android:exported="true" />
        <activity
            android:name=".AddTen"
            android:exported="true" />
        <activity
            android:name=".DeleteNo"
            android:exported="true" />
        <activity
            android:name=".UploadNo"
            android:exported="true" />
        <activity
            android:name=".ChatwTenant"
            android:exported="true" />
        <activity
            android:name=".PayRent"
            android:exported="true" />
        <activity
            android:name=".ChatWowner"
            android:exported="true" />
        <activity
            android:name=".NoticeBoard"
            android:exported="true" />
        <activity
            android:name=".SendReq"
            android:exported="true" />
        <activity android:name=".Owner_DB" />
        <activity android:name=".Tenant_DB" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>